//fonts
$primary_font: 'Courier New', Courier, monospace;

//colors
:root {
    --primary_color: #2200ff;
    --secondary_color: #ffd900;
    //pure colors
    --pure_black:#000000;
    --pure_white:#ffffff;
    //lighter colors
    --primary_color_lighter: #7a66ff;
    --secondary_color_lighter: #ffe866;
    //dark colors
    --primary_color_darker: #140099;
    --secondary_color_darker: #998200;
}
.dark-mode {
    --primary_color: red;
    --secondary_color: pink;
    //pure colors
    --pure_black:#000000;
    --pure_white:#ffffff;
    //lighter colors
    --primary_color_lighter: #7a66ff;
    --secondary_color_lighter: #ffe866;
    //dark colors
    --primary_color_darker: #140099;
    --secondary_color_darker: #998200;
}

//pixels to rem sizes (only for font sizes)
$_4px: 0.25rem;
$_8px: 0.5rem;
$_12px: 0.75rem;
$_14px: 0.875rem;
$_16px: 1rem;
$_20px: 1.25rem;
$_24px: 1.5rem;
$_28px: 1.75rem;
$_32px: 2rem;
$_36px: 2.25rem;
$_40px: 2.5rem;
$_44px: 2.75rem;
$_48px: 3rem;
$_52px: 3.25rem;
$_56px: 3.5rem;
$_60px: 3.75rem;
$_64px: 4rem;
$_68px: 4.25rem;
$_72px: 4.5rem;
$_76px: 4.75rem;
$_80px: 5rem;

//responsive breakpoints
$br_mobile: 640px;
$br_tablet: 768px;
$br_desktop: 1280px;
$br_desktop_lg: 1440px;

//effects variables
$default_box_shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
$default_transition: all 0.4s ease;